.contacts {
  height: 110px;
  padding-right: 0;
  .contact {
    width: 100%;
    padding: 20px 0;
    position: relative;
    img {
      margin-left: 15px;
      margin-right: 15px;
    }
    .more {
      position: absolute;
      width: 20px;
      top: 0;
      right: 0;
    }
  }
  div {
    height: 100%;
    vertical-align: top;
    display: inline-block;
  }
}

.user {
  background-color: $mainColor;
  height: 200px;
  padding-top: 80px;
  color: #FFF;
  img {
    float: left;
    margin: 20px 25px 0 50px;
  }
}

.user-details {
  padding-top: 50px;
  background-color: lightgrey;
  .title {
    h5 {
      text-transform: uppercase;
    }
    hr {
      width: 15px;
      border: 2px solid $colorHighlighted;
      color: $colorHighlighted;
      text-align: left;
      margin-left: 0;
      margin-top: -5px;
    }
  }
}

.post {
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  .title {
    border-left: 5px solid $colorHighlighted;
    padding-left: 10px;
    margin-left: -15px;
  }
  .comments-number {
    float: left;
  }
  .more {
    float: right;
    span {
      color: $colorHighlighted;
      font-weight: 800;
    }
  }
}

.comments {
  padding: 15px;
  .comment {
    background-color: lightgrey;
    margin-bottom: 5px;
    padding: 15px;
  }
}

.photo {
  background-color: #FFF;
  margin: 0 25px;
  padding: 0 30px;
  img {
    margin: 15px 0;
  }
  div:last-child {
    text-align: center;
  }
  .btn {
    padding: 6px 25px;
    &.btn-primary {
      background-color: $colorHighlighted;
      border-color: $colorHighlighted;
    }
  }
}

footer {
  height: 45px;
  padding: 15px 0;
  background-color: $footerBgColor;
  color: $footerFontColor;
  font-size: 11px;
  .row {
    div:first-child {
    float: left;
    }
    div:last-child {
    float: right;
    }
  }
  a {
    color: $footerFontColor;
    &:hover,
    &:visited {
      color: $footerFontColor;
      text-decoration: none;
    }
  }
}
