
  <div class="row">
    <div class="logo col-xs-10">
      inter<span class="text-highlighted">face</span>
    </div>
    <div ng-controller="LoggedUserCtrl as vm" class="profile col-xs-2">
      <img src="" style="width:30px; height: 30px; background-color: lightgrey">
      {{vm.loggedUser.name}} {{vm.loggedUser.surname}}
      <span ng-click="vm.showDetails()"> click </span>
      <div ng-if="vm.detailsVisible" class="details">
        <p>{{vm.loggedUser.nickname}}</p>
        <div>
          <p>{{vm.loggedUser.address.district}}</p>
          <p>{{vm.loggedUser.address.street}}</p>
          <p>{{vm.loggedUser.address.city}}</p>
          <p>{{vm.loggedUser.telephone}}</p>
        </div>
        <div ng-click="vm.editProfile()">Edit</div>
      </div>


      <!-- Modal -->
      <div ng-if="vm.showEditModal" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button ng-click="vm.closeEditModal()" type="button" class="close">
                <span>&times;</span>
              </button>
              <h4 class="modal-title">Edit user info</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button ng-click="vm.closeEditModal()" type="button" class="btn btn-secondary">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
