
  <div class="row">
    <div class="logo col-xs-10">
      inter<span class="text-highlighted">face</span>
    </div>
    <div class="profile col-xs-2">
      <img src="" style="width:30px; height: 30px; background-color: lightgrey">
      Clementine Bauch
      <span> + </span>
      <div class="details">
        <p>Samantha</p>
        <div>
          <p>Douglas Extension</p>
          <p>Suite 847</p>
          <p>McKenziehaven</p>
          <p>6852556325</p>
        </div>
        <div>Edit</div>
      </div>
    </div>
  </div>
