<header ng-include="'header.html'" class="container-fluid"></header>

<section class="container-fluid">
  <div class="row">
    <div ng-controller="UsersCtrl as vm" class="contacts col-xs-3">
      <div ng-repeat="user in vm.users" class="contact">
        <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
        <div>
          <p>{{user.name}}</p>
          <p>{{user.username}}</p>
          <p><img src="">{{user.email}}</p>
        </div>
        <div class="more"> > </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="user col-xs-12">
          <img src="" style="width: 155px; height: 140px; background-color: grey">
          <h3>Leanne Graham</h3>
          <p>hildegard.org</p>
          <small>Romanquera-Crona / Multi-layered client-server neural-net</small>
        </div>
      </div>
      <div class="user-details row">
        <div ng-controller="PostsCtrl as vm" class="col-xs-7">
          <div class="title">
            <h5>Latest Posts</h5>
            <hr>
          </div>
          <div ng-repeat="post in vm.posts" class="post">
            <h4 class="title">
              {{post.title}}
            </h4>
            <p class="body">
              {{post.body}}
            </p>
            <div class="clearfix">
              <div class="comments-number">{{vm.comments.length}} comments</div>
              <div class="more">show all <span> > </span></div>
            </div>
            <div class="comments">
              <div ng-repeat="comment in vm.comments" class="comment">
                <p>
                  {{comment.body}}
                </p>
                <span>emailicon</span><span>Eliseo@gardner.biz</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="title">
            <h5>Photo Album</h5>
            <hr>
          </div>
          <div class="photo">
            <div class="row">
              <div class="col-xs-4">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
              </div>
              <div class="col-xs-4">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
              </div>
              <div class="col-xs-4">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
                <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a class="btn btn-primary" href="">load more</a>
              </div>
            </div>
          </div> <!-- .photo -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <footer class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div>&copy; Interface, All rights reserved</div>
      <div>
        <a href=""> Terms of use </a>
        /
        <a href=""> Privacy Policy </a>
        /
        <a href=""> Contact </a>
      </div>
    </div>
  </div>
</footer> -->
<my-footer-directive></my-footer-directive>
