<header class="container-fluid">
  <div class="row">
    <div class="logo col-xs-10">
      inter<span class="text-highlighted">face</span>
    </div>
    <div class="col-xs-2">
      <img src="" style="width:30px; height: 30px; background-color: lightgrey">
      Clementine Bauch
      <span> + </span>
    </div>
  </div>
</header>

<section class="container-fluid">
  <div class="row">
    <div class="contacts col-xs-3">
      <div class="contact">
        <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
        <div>
          <p>Name Surname</p>
          <p>lorem</p>
          <p><img src="">lorem ipsum@s.com</p>
        </div>
        <div class="more"> > </div>
      </div>
      <div class="contact">
        <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
        <div>
          <p>Name Surname</p>
          <p>lorem</p>
          <p><img src="">lorem ipsum@s.com</p>
        </div>
        <div class="more"> > </div>
      </div>
      <div class="contact">
        <img src="" style="width: 70px; height: 70px; background-color: lightgrey">
        <div>
          <p>Name Surname</p>
          <p>lorem</p>
          <p><img src="">lorem ipsum@s.com</p>
        </div>
        <div class="more"> > </div>
      </div>
    </div>
    <div class="col-xs-9">
      main content
      <div class="row">
        <div class="col-xs-12">
          header
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">LATEST POSTS</div>
        <div class="col-xs-4">PHOTO ALBUM</div>
      </div>
    </div>
  </div>
</section>
